@{
    ViewData["Title"] = "Reverse output";
}
<h1>@ViewData["Title"]</h1>



<form action="/home/create" method="post">

    <input type="text" />
    <input type="button" />

    <label for="inputI">Input: </label>
    <input type="text"  placeholder="Pls enter your text here..." name="inputI" />
</form>

<p>output: </p><p></p>
